body {
  font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
}
/* vw fallback - needs choke points */
/* Tiny  */
#labels .label { font-size: .4em; }
.info { font-size: .8em; }
.strava { bottom: -35px; }

/* Small  */
@media (min-width: 768px) { 
  #labels .label { font-size: .7em; }
  .info { font-size: 1em; }
  .strava { bottom: -30px; }
}

/* Medium */
@media (min-width: 992px) {
  #labels .label { font-size: .9em; }
  .info { font-size: 1.5em; }
  .strava { bottom: -25px; }
}

/* Large  */
@media (min-width: 1200px) {
  #labels .label { font-size: 1.1em; }
  .info { font-size: 2em; }
  .strava { bottom: -20px; }
}

#container {
  position: relative;
}
img.background {
  width: 100%;  
}
a img {
  position: absolute;
  z-index: 2;
  -webkit-transition: all 1s;  
     -moz-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
  transition-duration: 1s;
  /* filter: grayscale(10%); */
}
a {
    text-decoration: none;
}
#labels .label {
  font-variant: small-caps;
  font-size: 1vw;
  z-index: 100;
  position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
  pointer-events: none;
}

.info {
    top: 0;
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    background: white;
    color: black;
    font-size: 2vw;
}
.info b {
  font-size: 1.25em;
}
a .info {
  display: none;
}
#faq {
  font-size: 1rem;
}
h3 {
  margin-bottom: .25em;
}
.qa {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace

}
#container a img:hover {
  transform: rotate(0deg)scale(3);
  z-index: 999;
  transition-duration: 1.5s;
  /* filter: grayscale(0%); */
}
:target img {
  filter: brightness(1.08);
}
#container a:target .info {
  display:inline-block;
  z-index: 1;
}
#container a img:hover + .info {
  display:inline-block;
  z-index: 2; /*hover takes priority */
}

#container a:target .strava {
  display:inline-block;
  z-index: 1;
}
#container a img:hover + .strava {
  display:inline-block;
  z-index: 2; /*hover takes priority */
}

.strava {
  display: none;
}
.strava {
  position: absolute;
  float: left;
  width: 100%;
  z-index: 99;
  background:rgba(123, 123, 123, 0.8);
  color:white;
  font-size: 1vw;
  /* bottom: -15px; */
  -webkit-transition: bottom 1s;  
     -moz-transition: bottom 1s;
       -o-transition: bottom 1s;
          transition: bottom 1s;
  
}
.strava > div {
  display:inline-block;
  padding: 5px;
  padding-left: 10px;
  font-size: 1.25vw;
  
}
.strava .logo {
  width: 5%;
  vertical-align: bottom;
}
.strava .pipe{
  font-size: 5vw;
  vertical-align: text-bottom;
}
.strava strong{
  font-size: 3vw;
}



#Alabama       img {top: 61%;   left: 64.5%;  width:6.8%;  transform: scaleY(1.0)rotate(-2deg );}
#Alaska        img {top: 76%;   left:  3%;    width:22%;   transform: scaleY(1.0)rotate(5deg  );}
#Arizona       img {top: 51.5%; left: 14.7%;  width:10.7%; transform: scaleY(1.1)rotate(10deg );}
#Arkansas      img {top: 56.5%; left: 52.8%;  width:8.6%;  transform: scaleY(1.0)rotate(0deg  );}
#California    img {top: 30.5%; left: .5%;    width:17%;   transform: scaleY(1.2)rotate(11deg );}
#Colorado      img {top: 38%;   left: 27%;    width:12%;   transform: scaleY(0.9)rotate(8deg  );}
#Conneticut    img {top: 28.3%; left: 88.0%;  width:3%;    transform: scaleY(1.0)rotate(-11deg);}
#Delaware      img {top: 38.1%; left: 85.63%; width:1.25%; transform: scaleY(1.0)rotate(-15deg);}
#Florida       img {top: 74%;   left: 67%;    width:14.7%; transform: scaleY(1.0)rotate(-2deg );}
#Georgia       img {top: 60%;   left: 70.2%;  width:8.6%;  transform: scaleY(1.0)rotate(-5deg );}
#Idaho         img {top: 6.7%;  left: 16.5%;  width:9.8%;  transform: scaleY(1.05)rotate(10deg );}
#Illinois      img {top: 31%;   left: 58.1%;  width:6.8%;  transform: scaleY(0.82)rotate(0deg  );}
#Indiana       img {top: 35.6%; left: 64%;    width:5.8%;  transform: scaleY(1.0)rotate(-5deg );}
#Iowa          img {top: 30.5%; left: 49.2%;  width:10%;   transform: scaleY(1.0)rotate(0deg  );}
#Kansas        img {top: 43.3%; left: 39.5%;  width:13%;   transform: scaleY(.96)rotate(4deg  );}
#Kentucky      img {top: 46.1%; left: 62.1%;  width:12.7%; transform: scaleY(1.0)rotate(-2deg );}
#Maine         img {top: 6.5%;  left: 90.1%;  width:6%;    transform: scaleY(1.0)rotate(-16deg);}
#Maryland      img {top: 39.7%; left: 79.3%;  width:7.8%;  transform: scaleY(1.1)rotate(-8deg );}
#Massachussets img {top: 24.3%; left: 87.9%;  width:6.2%;  transform: scaleY(0.85)rotate(-12deg);}
#Michigan      img {top: 16.5%; left: 64.5%;  width:8%;    transform: scaleY(1.2)rotate(0deg  );}
#Minnesota     img {top: 9.5%;  left: 48.5%;  width:9.5%;  transform: scaleY(0.95)rotate(2deg );}  
#Montana       img {top: 6.0%;  left: 18.9%;  width:18.3%; transform: scaleY(0.85)rotate(9deg );}  
#Nebraska      img {top: 32.2%; left: 36.5%;  width:14%;   transform: scaleY(.95)rotate(5deg  );}
#Nevada        img {top: 29.5%; left: 8%;     width:10%;   transform: scaleY(1.0)rotate(12deg );}
#New-Hampshire img {top: 17.8%; left: 88.8%;  width:2.3%;  transform: scaleY(1.3)rotate(-13deg);}
#New-Mexico    img {top: 54%;   left: 25.4%;  width: 10.8%;transform: scaleY(1.1)rotate(10deg );}
#NewJersey     img {top: 32.1%; left: 85.8%;  width:2.85%; transform: scaleY(1.0)rotate(-11deg );}
#NorthCarolina img {top: 51.8%; left: 71.5%;  width:16%;   transform: scaleY(.88)rotate(-9.5deg);}
#NorthDakota   img {top: 9.5%;  left: 37.5%;  width:11.8%; transform: scaleY(.9)rotate(5deg   );}
#Ohio          img {top: 33.5%; left: 69.5%;  width:7.1%;  transform: scaleY(1.0)rotate(-4deg );}
#Oklahoma      img {top: 54%;   left: 37.5%;  width:15.5%; transform: scaleY(0.95)rotate(4deg );}
#Pennsylvania  img {top: 30.9%; left: 76.8%;  width:9.6%;  transform: scaleY(1.1)rotate(-8deg );}
#Rhode-Island  img {top: 27.7%; left: 90.9%;  width:1.2%;  transform: scaleY(1.0)rotate(-10deg);}
#SouthCarolina img {top: 57.8%; left: 74.3%;  width:9%;    transform: scaleY(.95)rotate(-8deg  );}
#SouthDakota   img {top: 21.3%; left: 37%;    width:12.5%; transform: scaleY(.95)rotate(5deg  );}
#Tennesse      img {top: 53.2%; left: 60.5%;  width:15.3%; transform: scaleY(0.75)rotate(-4deg);}
#Texas         img {top: 58.5%; left: 31%;    width:24%;   transform: scaleY(1.05)rotate(4deg ); z-index: 1;}
#Utah          img {top: 33.9%; left: 18.5%;  width:8.6%;  transform: scaleY(1.15)rotate(12deg);}
#Vermont       img {top: 18.3%; left: 87%;    width:2.75%; transform: scaleY(1.3)rotate(-10deg);}
#Washington    img {top: 1.6%;  left: 5.8%;   width:11.9%; transform: scaleY(0.97)rotate(11deg);}
#Wyoming       img {top: 22.5%; left: 24.95%; width:11.6%; transform: scaleY(0.9)rotate(11deg );}

/* goal: elements should scale toward the center, but still cover entire state
*  transform-origin: x% y%
*  state on left -> x% < 50%
*  state on top  -> yX < 50%
*/
a#Alabama       img:hover {transform-origin:40% 40%; transform: scale(2);  }
a#Alaska        img:hover {transform-origin:10% 75%; transform: scale(2.4);}
a#Arizona       img:hover {transform-origin:50% 50%; transform: scale(2);  }
a#Arkansas      img:hover {transform-origin:50% 50%; transform: scale(3);  }
a#California    img:hover {transform-origin:0% 20%;  transform: scale(2);  }
a#Colorado      img:hover {transform-origin:50% 50%; transform: scale(2.5);}
a#Conneticut    img:hover {transform-origin:60% 40%; transform: scale(5);  }
a#Delaware      img:hover {transform-origin:50% 50%; transform: scale(6);  }
a#Florida       img:hover {transform-origin:80% 80%; transform: scale(2.2);}
a#Georgia       img:hover {transform-origin:80% 60%; transform: scale(2.5);}
a#Idaho         img:hover {transform-origin:25% 25%; transform: scale(2.2);}
a#Illinois      img:hover {transform-origin:50% 50%; transform: scale(1.7);}
a#Indiana       img:hover {transform-origin:50% 50%; transform: scale(2.5);}
a#Iowa          img:hover {transform-origin:50% 50%; transform: scale(3);  }
a#Kansas        img:hover {transform-origin:50% 50%; transform: scale(2.5); }
a#Kentucky      img:hover {transform-origin:50% 50%; transform: scale(3);  }
a#Maine         img:hover {transform-origin:70% 20%; transform: scale(3);  }
a#Maryland      img:hover {transform-origin:50% 50%; transform: scale(3);  }
a#Massachussets img:hover {transform-origin:70% 40%; transform: scale(4);  }
a#Michigan      img:hover {transform-origin:50% 40%; transform: scale(2.0);}
a#Minnesota     img:hover {transform-origin:50% 15%; transform: scale(2.0);}
a#Montana       img:hover {transform-origin:50% 15%; transform: scale(1.7);}
a#Nebraska      img:hover {transform-origin:50% 50%; transform: scale(2.5);}
a#Nevada        img:hover {transform-origin:50% 50%; transform: scale(1.7);}
a#New-Hampshire img:hover {transform-origin:50% 50%; transform: scale(5);  }
a#New-Mexico    img:hover {transform-origin:50% 50%; transform: scale(2);  }
a#NewJersey     img:hover {transform-origin:60% 50%; transform: scale(4);  }
a#NorthCarolina img:hover {transform-origin:60% 50%; transform: scale(2.0);}
a#NorthDakota   img:hover {transform-origin:50% 15%; transform: scale(2.0);}
a#Ohio          img:hover {transform-origin:50% 50%; transform: scale(2.8);}
a#Oklahoma      img:hover {transform-origin:50% 50%; transform: scale(2.4);}
a#Pennsylvania  img:hover {transform-origin:50% 50%; transform: scale(2.4);}
a#Rhode-Island  img:hover {transform-origin:65% 50%; transform: scale(10); }
a#SouthCarolina img:hover {transform-origin:60% 50%; transform: scale(2.0);}
a#SouthDakota   img:hover {transform-origin:50% 40%; transform: scale(2.0);}
a#Tennesse      img:hover {transform-origin:60% 50%; transform: scale(2.4);}
a#Texas         img:hover {transform-origin:50% 90%; transform: scale(1.8);}
a#Utah          img:hover {transform-origin:50% 50%; transform: scale(1.8);}
a#Vermont       img:hover {transform-origin:60% 40%; transform: scale(5);  }
a#Washington    img:hover {transform-origin:35% 15%; transform: scale(2.5);}
a#Wyoming       img:hover {transform-origin:35% 15%; transform: scale(2.5);}

/* State Labels */
#labels .AL {top: 66%;left: 66%;}
#labels .AK {top: 82%;left: 11%;}
#labels .AZ {top: 60%;left: 19%;}
#labels .AR {top: 60%;left: 55%;}
#labels .CA {top: 49%;left: 6%; }
#labels .CO {top: 46%;left: 31%;}
#labels .CT {top: 29%;left: 88%;}
#labels .DE {top: 41%;left: 86%;}
#labels .FL {top: 84%;left: 78%;}
#labels .GA {top: 67%;left: 73%;}
#labels .HI {top: 90%;left: 27%;}
#labels .ID {top: 26%;left: 19%;}
#labels .IL {top: 42%;left: 60%;}
#labels .IN {top: 42%;left: 66%;}
#labels .IA {top: 36%;left: 53%;}
#labels .KS {top: 48%;left: 44%;}
#labels .KY {top: 51%;left: 67%;}
#labels .LA {top: 77%;left: 56%;}
#labels .ME {top: 15%;left: 91%;}
#labels .MD {top: 39%;left: 81%;}
#labels .MA {top: 26%;left: 88%;}
#labels .MI {top: 30%;left: 67%;}
#labels .MN {top: 21%;left: 50%;}
#labels .MS {top: 68%;left: 60%;}
#labels .MO {top: 48%;left: 54%;}
#labels .MT {top: 16%;left: 27%;}
#labels .NE {top: 37%;left: 42%;}
#labels .NV {top: 38%;left: 12%;}
#labels .NH {top: 22%;left: 89.5%;}
#labels .NJ {top: 37%;left: 87%;}
#labels .NM {top: 62%;left: 29%;}
#labels .NY {top: 27%;left: 81%;}
#labels .NC {top: 55%;left: 77%;}
#labels .ND {top: 16%;left: 40%;}
#labels .OH {top: 39%;left: 72%;}
#labels .OK {top: 59%;left: 46%;}
#labels .OR {top: 21%;left: 8%;}
#labels .PA {top: 35%;left: 78%;}
#labels .RI {top: 27.5%;left: 91%;}
#labels .SC {top: 60%;left: 77%;}
#labels .SD {top: 27%;left: 40%;}
#labels .TN {top: 57%;left: 65%;}
#labels .TX {top: 74%;left: 43%;}
#labels .UT {top: 42%;left: 22%;}
#labels .VT {top: 19%;left: 87.5%;}
#labels .VA {top: 49%;left: 79%;}
#labels .WA {top: 9%;left: 10%;}
#labels .WV {top: 44%;left: 75.3%;}
#labels .WI {top: 25%;left: 58%;}
#labels .WY {top: 31%;left: 29%;}

#show-labels { display: none; }
#show-labels         + label:before { content: "Hide "; }
#show-labels:checked + label:before { content: "Show "; }
#show-labels:checked + label + #labels  { display: none; }

#show-labels + label {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: d9ddff;
    box-shadow: inset 0 2px 3px rgba(255,255,255,0.2), inset 0 -2px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
